@import "tailwindcss";

html, body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

